<div ng-controller="KL2408PanelCtrl" ng-init="initController()">

  <table class="table table-hover table-condensed">
    <tr class="black-muted-bg">
      <th class="left">OUTPUT</th>
      <th class="left">STATE</th>
      <th class="left">ACTIONS</th>
    </tr>
    <tr ng-repeat="out in data" class="no-top-border">
      <td>
          {{ out.name  }}
      </td>
      <td>
        {{ out.state  }}
      </td>
      <td>
        <ba-switcher switcher-style="primary" switcher-value="out.newState"></ba-switcher>
      </td>
    </tr>
  </table>

  <div class="add-row-editable-table">
    <br>
    <button class="btn btn-primary" ng-click="clickReadData()">Update data</button>
    <button class="btn btn-success" ng-click="clickWriteData()">Change data</button>
  </div>

</div>



