//Created by danihbelan on 26/12/2017.
extends layout

block body
  div(layout="row", flex, ng-controller="user", ng-cloak)
    if logued
      include user/frame/menu
    div(layout='column', flex, ng-init="initController('#{JSON.stringify(logued)}', '#{csrfToken}')")
      include user/frame/header
      md-content(layout="column", flex)
        div(ng-view)

block my_scripts
  script(src='/dist/general.min.js')
  script(src='/dist/user.min.js')