//Created by danihbelan on 26/12/2017.
doctype html
html(ng-app="myApp")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        base(href="/")

        //link(rel="icon", href="/images/favicon16.ico", sizes="16x16")
        //link(rel="icon", type="image/png", href="/images/favicon32.png", sizes="32x32")
        //link(rel="icon", type="image/png", href="/images/favicon48.png", sizes="48x48")
        title SoftPLC


        // ----- Open Sans ------
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700')

        // ----- ng-sweet-alert ------
        link(rel='stylesheet', href='/bower_components/sweetalert/dist/sweetalert.css')

        // ------ Angular material ------
        link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')

        // ------ Table data material
        link(rel='stylesheet', href='/bower_components/angular-material-data-table/dist/md-data-table.min.css')

        //- ------ Charlist -----
        //link(rel='stylesheet', href='/angular-chart.js/dist/angular-chart.min.css')

        link(rel='stylesheet', href='/bower_components/ng-img-crop/compile/minified/ng-img-crop.css')

        link(rel='stylesheet', href='/bower_components/mdPickers/dist/mdPickers.min.css')
        // ----- Custom CSS -----
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/main_responsive.css')


    body(layout="row", flex, ng-cloak)
        block body

        // ----- Angular JS ------
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-animate/angular-animate.min.js')
        script(src='/bower_components/angular-i18n/angular-locale_es-es.js')

        // ----- Libraries -------
        script(src='/bower_components/sweetalert/dist/sweetalert.min.js')

        // ----- Angular Material ------
        script(src='/bower_components/angular-aria/angular-aria.min.js')
        script(src='/bower_components/angular-material/angular-material.min.js')

        // ----- Angular Aria -----
        script(src='/bower_components/angular-aria/angular-aria.min.js')

        // ----- Angular Messages -----
        script(src='/bower_components/angular-messages/angular-messages.min.js')

        // ----- Angular Route -----
        script(src='/bower_components/angular-route/angular-route.min.js')

        // ----- Table data Material -------
        script(src='/bower_components/angular-material-data-table/dist/md-data-table.min.js')
        script(src='/bower_components/angular-auto-focus/angular-auto-focus.js')

        //- ------ Charlist -----
        script(src='/bower_components/Chart.js/Chart.min.js')
        script(src='/bower_components/angular-chart.js/dist/angular-chart.min.js')

        script(src='/bower_components/ng-file-upload/ng-file-upload.min.js')
        script(src='/bower_components/ng-img-crop/compile/minified/ng-img-crop.js')

        script(src='/bower_components/ng-lodash/build/ng-lodash.min.js')
        script(src='/bower_components/moment/min/moment.min.js')

        script(src='/bower_components/angular-moment/angular-moment.min.js')

        script(src='/bower_components/mdPickers/dist/mdPickers.min.js')

        // ----- Controllers ------
        script(src='/dist/utilFunctions.min.js')
        script(src='/dist/routesJS.min.js')

        //- MIS SCRIPTS
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.min.js")
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-messages.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js')
        script(src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
        script(src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js")

        block my_scripts
