// Created by danihbelan on 28/12/2017.

md-content.md-padding(layout='column', flex,  ng-controller="userViewGeneralData", ng-init="initController('#{csrfToken}')", ng-cloak)

	md-card
		md-card-title
			span.md-title Ejemplo
		md-divider
		md-card-content
			p Contenido



