// Created by Georgevik on 28/01/2016.

md-content.md-padding(layout='column', flex,  ng-controller="coordinatorViewGeneralData", ng-init="initController('#{csrfToken}')", ng-cloak)

	md-card
		md-card-title
			span.md-title Datos generales
		md-divider
		md-card-content
			p Curso académico: {{user.titulationYear.year}}
			p Nº estudiantes: {{user.generalData.nStudent}}
			p Nº profesores: {{user.generalData.nProfessor}}
			p Nº centros: {{user.generalData.nCentres}}
