<!--
<div class="row pie-charts">
  <div class="pie-chart-item-container" ng-repeat="chart in charts">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="chart" rel="{{ ::chart.color }}" data-percent="60"> <span class="percent"></span> </div>
        <div class="description">
          <div>{{ ::chart.description }}</div>
          <div class="description-stats">{{ ::chart.stats }}</div>
        </div>
        <i class="chart-icon i-{{ ::chart.icon }}"></i>
      </div>
    </div>
  </div>
</div>-->


<div class="row pie-charts">

  <div class="pie-chart-item-container">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="chart-icon i-{{ ::chartTemperature.icon }}"> </div>
        <div class="description">
          <div>{{ ::chartTemperature.description }}</div>
          <div class="description-stats">{{ ::chartTemperature.stats }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6"
       ba-panel
       ba-panel-title="STATE"
       ba-panel-class="with-scroll">
    <div >
      <div ng-if="state.normal" class="alert bg-success">
        <strong>NORMAL</strong>   La temperatura se encuentra dentro del margen establecido
      </div>
      <div ng-if="state.cold" class="alert bg-info">
        <strong>WARNING!</strong>   La temperatura se encuentra por debajo del margen establecido
      </div>
      <div ng-if="state.hot" class="alert bg-danger">
        <strong>WARNING!</strong>   La temperatura se encuentra dentro del margen establecido
      </div>
    </div>
  </div>

</div>