//Created by danihbelan on 27/12/2017.

md-toolbar.md-whiteframe-4dp(layout='row', ng-controller='userHeader', ng-cloak)
   .md-toolbar-tools
      md-button.md-icon-button(ng-click="toggleSidenav('left')", hide-gt-sm='')
         md-icon(aria-label='Menu', md-svg-icon='https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg')
      p.md-title Controlador de bajo coste para Industrial Internet of Thing