//Created by danihbelan on 27/12/2017.

div(ng-controller="userMenu", layout="row", ng-cloak)
	md-sidenav.md-sidenav-left.md-whiteframe-z2.mySidenav(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
		header.nav-header.header-sidenav.md-primary(layout="column", layout-align="center center")
			img.header-logotype.md-padding.hideOnResponsive(ng-src="/images/logo/logo_green.png")
			img.header-letters.md-padding(ng-src="/images/logo/logo_letras.png")
			p.header-name {{user.name}} {{user.last_name_1}} {{user.last_name_2}}

		div
			div.itemMenu(ng-click="clickPerfil()", md-ink-ripple) Perfil
			md-divider
			div.itemMenu(ng-click="clickGeneralData()", md-ink-ripple) Pagina principal
			md-divider
			div.itemMenu(ng-click="clickLogOut()", md-ink-ripple) Salir
