<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4"
         ba-panel
         ba-panel-title="Temperature"
         ba-panel-class="with-scroll">
        <div >
            <h1><span><img src="assets/img/termometro.png"/> {{ temperature }} ºC</span></h1>
        </div>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-8"
         ba-panel
         ba-panel-title="State"
         ba-panel-class="with-scroll">
        <div >
            <div ng-if="temperature>19.9 && temperature<25" class="alert bg-success">
                <strong>NORMAL</strong>   La temperatura se encuentra dentro del margen establecido
            </div>
            <div ng-if="temperature<20" class="alert bg-info">
                <strong>WARNING!</strong>   La temperatura se encuentra por debajo del margen establecido
            </div>
            <div ng-if="temperature>24.9" class="alert bg-danger">
                <strong>WARNING!</strong>   La temperatura se encuentra por encima del margen establecido
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Temperature Chart"
         ba-panel-class="with-scroll">
        <div ng-include="'app/pages/dashboard/lineChart/lineChart.html'"></div>
    </div>
</div>


<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6"
         ba-panel
         ba-panel-title="Ventilador"
         ba-panel-class="with-scroll">
        <div>
        </div>

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6"
         ba-panel
         ba-panel-title="Resistencia"
         ba-panel-class="with-scroll">
        <div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6"
         ba-panel
         ba-panel-title="Techo"
         ba-panel-class="with-scroll">

        <h2 align="center"> STATE: <code>CERRADO</code></h2>

        <br>
        <div align="center">
            <button type="button" class="btn btn-primary btn-lg">Open</button> &nbsp;
            <button type="button" class="btn btn-primary btn-lg">Close</button> &nbsp;
            <button type="button" class="btn btn-danger btn-lg">STOP</button> &nbsp;
        </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6"
         ba-panel
         ba-panel-title="Pared"
         ba-panel-class="with-scroll">

        <h2 align="center"> STATE: <code>CERRADO</code></h2>

        <br>
        <div align="center">
            <button type="button" class="btn btn-primary btn-lg">Open</button> &nbsp;
            <button type="button" class="btn btn-primary btn-lg">Move Left</button> &nbsp;
            <button type="button" class="btn btn-danger btn-lg">Move Right</button> &nbsp;
        </div>

    </div>
</div>





