//Created by danihbelan on 26/12/2017.

md-toolbar.md-whiteframe-4dp(layout='row', ng-controller='generalFrameHeader', ng-cloak)
	.md-toolbar-tools
		md-button.md-icon-button(ng-click="toggleSidenav('left')", hide-gt-sm='')
			md-icon(aria-label='Menu', md-svg-icon='https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg')
			
		if (rol == 1)
			h1.md-display-2 Coordinador

		if (rol == 2)
			h1.md-display-2 Estudiante

		if (rol == 3)
			h1.md-display-2 Profesor