//Created by danihbelan on 26/12/2017.
div(ng-controller="generalFrameMenu", layout="row", ng-cloak)
    md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
        header.nav-header.header-sidenav(layout="column", layout-align="center center")
            img.header-logotype.md-padding(ng-src="/images/logo/logo_green.png")
            img.header-letters.md-padding(ng-src="/images/logo/logo_letras.png")
